<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Mots croisés{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('CrossWord/dist/inline.bundle.js') }}"></script>
            <script type="text/javascript" src="{{ asset('CrossWord/dist/polyfills.bundle.js') }}"></script>
            <script type="text/javascript" src="{{ asset('CrossWord/dist/styles.bundle.js') }}"></script>
            <script type="text/javascript" src="{{ asset('CrossWord/dist/vendor.bundle.js') }}"></script>
            <script type="text/javascript" src="{{ asset('CrossWord/dist/main.bundle.js') }}"></script>
        {% endblock %}
    </body>
</html>

